{% extends 'base/base.html' %}
{% load static %}
{% block page_title %} Password reset sent {% endblock %}
{% block page_content %}
<div class="sign section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <form class="sign__form">

                        <a href="{% url 'index' %}" class="sign__logo">
                            <span class="logo-first">m</span><span class="logo-second">Listy</span><i
                                class="fa-solid fa-film"></i>
                        </a>
                        <p class="section__text">
                            Your password has been set. You may go ahead and sign in now.
                        </p>
                        <span class="sign__text"><a href="{% url 'index' %}">Sign in</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}