<section class="section">
    <div class="container">
        <div class="col-12 col-md-7 col-xl-8">
            <div class="row searchfield">
                <div class="col-12">
                    <div class="form--wrapper">
                        <form method="GET" class="form form--contacts">
                            <div class="row row--form btnsearch">
                                <div class="col-12">
                                    <input type="text" class="form__input" name="search"
                                           placeholder="Type the name of the movie...">
                                </div>
                                <button type="submit" class="form__btn">Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>