{% extends 'base/base.html' %}
{% load static %}
{% block page_title %} Sign In {% endblock %}
{% block page_content %}
    <div class="sign section--bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <form method="POST" action="{% url 'login' %}" class="sign__form">
                            <a href="{% url 'index' %}" class="sign__logo">
                                <span class="logo-first">m</span><span class="logo-second">Listy</span><i
                                    class="fa-solid fa-film"></i>
                            </a>
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="form-errors">{{ form.non_field_errors }}</div>
                            {% endif %}
                            {% for field in form %}

                                <label class="section__title" style="font-size: 20px; margin: 5px;"
                                       for="{{ field.auto_id }}">{{ field.label }}:</label>
                                <label class="section__title" style="font-size: 15px; margin: 5px; color: #f9ab00"
                                       for="{{ field.auto_id }}">{{ field.errors }}</label>


                                {{ field }}

                            {% endfor %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <button class="sign__btn" type="submit">Sign in</button>
                            <span class="sign__text">Don't have an account? <a
                                    href="{% url 'register' %}">Sign up!</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}