<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
            <div class="row row--grid">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Total Movies</span>
                        <p>{{ movie_list.listentry_set.all.count }}</p>
                        <i class="fa-solid fa-film"></i>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Time Spent Watching</span>
                        <p>Days: {{ total_time_days|floatformat:0 }}</p>
                        <p>Hours: {{ total_time_hours|floatformat:0 }}</p>
                        <p>Minutes: {{ total_time_minutes|floatformat:0 }}</p>
                        <i class="fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Average grade</span>
                        <p>{{ average_grade|floatformat:0 }}</p>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>