<div class="main__table-wrap" style="width: 84%; margin: auto">
    <table class="main__table">
        <thead class="list__table-thead">
        <tr class="list__table-main-tr">
            <th>N.</th>
            <th>TITLE</th>
            <th>GRADE</th>
            <th>WOULD RECOMMEND</th>
            <th>STATUS</th>
            <th>ADDED DATE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>

        <tbody>
        {% for movie in entries %}
            <tr class="list__table-tr">
                <td>
                    <div class="main__table-text list-text">{{ forloop.counter }}.</div>
                </td>
                <td>
                    <div class="main__table-text"><a
                            href="{% url 'details movie' movie.slug %}">{{ movie.movie.name|truncatewords:10 }}</a></div>
                </td>
                <td>
                    <div class="main__table-text main__table-text--rate"><i class="fa-solid fa-star"></i>{{ movie.grade }}</div>
                </td>
                <td>
                    {% if movie.would_recommend == 'Yes' %}
                        <div class="main__table-text main__table-text--green">{{ movie.would_recommend }}</div>
                    {% elif movie.would_recommend == 'No' %}
                        <div class="main__table-text main__table-text--red">{{ movie.would_recommend }}</div>
                    {% else %}
                        <div class="main__table-text">{{ movie.would_recommend }}</div>
                    {% endif %}
                </td>
                <td>
                    {% if movie.status == 'Completed' %}
                        <div class="main__table-text main__table-text--green">{{ movie.status }}</div>
                    {% elif movie.status == 'Watching' %}
                        <div class="main__table-text main__table-text--orange">{{ movie.status }}</div>
                    {% else %}
                        <div class="main__table-text main__table-text--red">{{ movie.status }}</div>
                    {% endif %}
                </td>
                <td>
                    <div class="main__table-text">{{ movie.date_created|date:"d-M-Y" }}</div>
                </td>
                {% if is_owner %}
                    <td>
                        <div class="main__table-btns">
                            <a href="{% url 'edit entry' movie.id movie.slug %}"
                               class="main__table-btn main__table-btn--edit edit-btn">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="{% url 'delete entry' movie.id movie.slug %}"
                               class="main__table-btn main__table-btn--delete open-modal delete-btn">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                {% else %}
                    <td>
                        <div class="main__table-btns">
                            <a
                               class="main__table-btn main__table-btn--delete open-modal list-n-a">
                                <i>N/A</i>
                            </a></div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
