{% extends 'base.html' %}
{% block page_title %} Dashboard {% endblock %}

{% block page_content %}
    <h1>Dashboard</h1>
    <h1>Hello</h1>
    {% if not lists %}
        <p>No list yet.</p>
    {% else %}
        {% for list in lists %}
            <ul>
                <li>List name: {{ list.title }}</li>
                <li>List created: {{ list.date_created }}</li>
                <li>List last updated: {{ list.last_updated }}</li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}