{% extends 'base.html' %}
{% block page_title %} Dashboard {% endblock %}

{% block page_content %}
    <h1>Dashboard</h1>
    <h1>Hello</h1>
    {% if not lists %}
        <p>No list yet.</p>
    {% else %}
        {% for list in lists %}
            <ul>
                <li>List name:{{ list.title }} </li>
                <li>Slug: {{ list.slug }}</li>
                <li>List created: {{ list.date_created }}</li>
                <li>List last updated: {{ list.last_updated }}</li>
                <li><a href="{% url 'details list' list.slug %}">DETAILS</a></li>
                <li><a href="{% url 'edit list' list.slug %}">EDIT</a>
                <li><a href="{% url 'delete list' list.slug %}">Delete</a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}