{% extends 'base.html' %}
{% block page_title %} Delete {{ list.title }} {% endblock %}

{% block page_content %}
    <div class="sign section--bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <form method="POST" action="{% url 'delete entry' entry.pk entry.slug %}" class="sign__form">
                            {% csrf_token %}
                            <h3 class="section__text">Delete {{ entry.movie.name }} from {{ entry.list }}?</h3>
                            {{ form }}
                            <button class='sign__btn' type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}