<section class="section section--border">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 about-mListy">
                <h2 class="section__title section__title--mb">
                    <b>mListy</b> – Your place for custom Lists
                </h2>
                <p class="section__text">
                    mListy allows you to create custom named Lists with a cover of your choice.
                    After that you can search for a <span>Movie</span> and add it to the <span>List</span>.<br>
                    Currently, supports different status types, such as: <span style="color: green">Completed</span>,
                    <span style="color: orange">Watching</span> or <span style="color: red">Dropped</span>. You can
                    create a List that is only for Dropped movies, or you can add all types in one list, you have all
                    the freedom to divide them however you want.
                </p>
            </div>
        </div>
    </div>
</section>