<div class="col-12 col-sm-6 col-xl-3">
    <div class="stats">
        <span>Username</span>
        <p>{{ profile.slug }}</p>
        <i class="fa-solid fa-user"></i>
    </div>
</div>
<div class="col-12 col-sm-6 col-xl-3">
    <div class="stats">
        <span>Total Lists</span>
        <p><a href="#">{{ user_lists.count }}</a></p>
        <i class="fa-solid fa-list"></i>
    </div>
</div>
<div class="col-12 col-sm-6 col-xl-3">
    <div class="stats">
        <span>Total Movies</span>
        <p><a href="#">{{ total_movies }}</a></p>
        <i class="fa-solid fa-film"></i>
    </div>
</div>
<div class="col-12 col-sm-6 col-xl-3">
    <div class="stats">
        <span>Total Average Grade</span>
        <p><a href="#">{{ total_average_grade|floatformat:1 }}</a></p>
        <i class="fa-solid fa-star"></i>
    </div>
</div>
<div class="col-12">
    <div class="stats" style="display: flex; flex-direction: row; justify-content: space-evenly">
        <p>Days: {{ total_time_days|floatformat:0 }}</p>
        <p>Hours: {{ total_time_hours|floatformat:0 }}</p>
        <p>Minutes: {{ total_time_minutes|floatformat:0 }}</p>
        <i class="fa-solid fa-clock"></i>
    </div>
</div>