<section class="section section--border">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title section__title--mb0">How it works?</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">01</span>
                    <h3 class="how__title">Create an account</h3>
                    <p class="how__text">Really easy step, so we can store your lists. We don't provide any
                        information about you to anybody.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">02</span>
                    <h3 class="how__title">Create your List</h3>
                    <p class="how__text">Choose create a List option and name your List. URL for the cover is
                        completely optional!</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">03</span>
                    <h3 class="how__title">Search for a Movie</h3>
                    <p class="how__text">Click on search and type your title. After that click on a
                        title and then add to list!</p>
                </div>
            </div>
        </div>
    </div>
</section>